eef web fontCSS
@import url(http://fonts.googleapis.com/earlyaccess/lateef.css);
.lateef{font-family: 'Lateef', serif;}


h1 {
  color:#F0D3F8 ;
  font-family: Lateef;
  font-size: 300%;
  text-align:center;

}
.container
{

  text-align:center;
  width: 50%;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 5px;
  margin-left: 5px;
  border: 5px solid #D3A3F4 ;
  border-style:   outset;
   margin: auto;
   padding: 10px;
    border-radius: 20px;
    border-right:10px;
border-left:10px;
  background-repeat: no-repeat;



}




.card1{
	padding-top:60px;
	padding-bottom:30px;
	text-align:center;
	color: #F0D3F8;
	font-family:Lateef;


}


.scriptfun{
	text-align:center;
  width: 30%;
  padding-right: 2px;
  padding-left: 2px;
  border: 5px solid #D3A3F4 ;
  border-style:   outset;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border-right:10px;
  border-left:10px;
  background-repeat: no-repeat;


}

body {
    padding: 20px;
 background-size: cover;
 background-attachment: fixed;
  background-image: url('../images/background.jpg');
background-repeat: no-repeat;
}

h2 {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: #D3A3F4;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, #F0D3F8 50%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
  :hover {
                                  background-position: 0 100%;
                              }
}
